VITE_SMARTIFLY_BACKEND_URL=http://localhost:5000
VITE_SMARTIFLY_BACKEND_URL_EMULATOR=http://10.20.30.32:5000
VITE_SMARTIFLY_PLAYER_ENGINE=auto
VITE_SMARTIFLY_FORCE_BROWSER_PLAYBACK=0
VITE_SMARTIFLY_DEBUG_LOGS=0
VITE_APP_VERSION=0.1.0
